@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}


.josefin-sans{
    font-family: "Josefin Sans";
    font-size: 1.7rem;

}
.offcanvas{
    width: 50% !important;

}
.perjelszoveg{
    color: rgba(red, green, blue, alpha)
}


  body{
    max-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}
header{
    background-image: url(img/pizzakep.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 18rem;
    width: 100%;
}

h2{
    color: white;
    display: inline;

}
header ul{
    display: inline;
    
}
header li{
    color: white;
    list-style-type: none;
}
a{
    color: white;

}
a :visited{
    color: white;
}
a :hover{
    color: white;

}
a :active{
    color: white;
}
header a{
    text-decoration: none;
    float: right;
    padding: 5px;
    font-size: 20px;


}
.box1{
    background-color: #222222;
    color: white;
    padding: 60px;

}
.box2{
    background-color: black;
    color: white;
    padding: 60px;
}
.box2 ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    justify-content: center;
}
.box2 li{
    border: 1px solid white;
    padding: 10px 50px;
}
.box3{
    background-color: #222222;
    color: white;
    padding: 60px;
    flex-wrap: wrap;
}
.box3 p{
    font-family: PT serif;
    font-style: italic;
}
.pizza_kep{
    background-image: url(img/pizzakep.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: end;
}
.marhapecsenye{
    background-image: url(img/steak.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 14rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: end;
}
.undorito_kep{
    background-image: url(img/undorito.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;

}
.pizza2_kep{
    background-image: url(img/pizzakep2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: end;
}
.leves_kep{
    background-image: url(img/leves.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 14rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: end;
}
#box4{
    background-color: black;
    color: white;
    padding: 3rem;
}
footer{
    background-color: black;
}
.vonalka{
    color: #ccc;
}
#elszosz{
    padding: 0,2rem;
}
#masodiksz{
    padding: 0,2rem;
}
#box4 h5{
padding-bottom: 2rem;
}
#box4 ul{
    padding: 0;
    list-style-type: none;
}
#box4 ul li .nap{
    margin-bottom: 0px;
    margin-top: 5px;
    color: #d4d4d4;
}
#box4 ul li .idopont{
    margin-bottom: 0 ;
    color: #d4d4d4;
}

#box4 ul li{
    margin-bottom: 10px;
}
#box4 ul li hr{
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 0px;
    margin-bottom: 0px;
}
footer{
    color: #d4d4d4;
    font-size: small;
}
.ajanl{
    font-family: Playfair Display;
    color: #aaa;
    font-size: 18px;
}
.tortenet{
    font-family: Playfair Display;
    color: #aaa;
    font-size: 18px;
}
.osszhang{
    font-family: Playfair Display;
    color: #aaa; 
}
.box3 p{
    font-style: italic;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(16,1fr);
  grid-template-rows: repeat(9,5vw);
  grid-gap: 0rem 2rem;

}
.item1{
 grid-column-start: 3;
 grid-column-end: 11;
 grid-row-start:1 ;
 grid-row-end:5 ; 
}
.item2{
grid-column-start:11 ;
grid-column-end:14 ;
grid-row-start:1 ;
grid-row-end:6 ;
}

.item3{
grid-column-start:3 ;
grid-column-end:7 ;
grid-row-start:6 ;
grid-row-end:8 ;
}
.item4{
    grid-column-start:7 ;
    grid-column-end:11 ;
    grid-row-start:6 ;
    grid-row-end:8 ;
}

.item5{
    grid-column-start:11 ;
    grid-column-end:13 ;
    grid-row-start:7 ;
    grid-row-end:9 ;
}
@media only screen and (max-width: 1250px){
    .grid-container{
        grid-gap: 1rem 1.5rem;
    }
}
@media only screen and (max-width: 1100px){
    .grid-container{
        grid-gap: 1.2rem 1.5rem;
    }
}
@media only screen and (max-width: 1050px){
    .grid-container{
        grid-gap: 1.4rem 1.5rem;
    }
}
@media only screen and (max-width: 1000px) { 
    #box2_szoveg{
        margin: 1rem 3rem;
    }
    .grid-container{    
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(9, 5vw);
        grid-gap: 1.5rem;
    }
   
    .item1{
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .item2{
        grid-column-start: 8;
        grid-column-end:11 ;
        grid-row-start: 1;
        grid-row-end: 6;
    }
    .item3{
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 8;
    }
    .item4{
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 6;
        grid-row-end: 8;
    }
    .item5{
        grid-column-start: 8;
        grid-column-end: 11;
        grid-row-start: 7;
        grid-row-end: 9;
    }
 
}
@media only screen and (max-width: 900px){
    .grid-container{    
        grid-gap: 1.4rem 1rem;
    }
   
    .item1{
       grid-column: 2/8;
       grid-row: 1/5;
    }
    .item2{
        grid-column: 8/11;
       grid-row: 1/6;
    }
    .item3{
        grid-column: 2/5;
       grid-row: 8/6;}
    .item4{
        grid-column: 5/8;
        grid-row: 6/8;
    }
    .item5{
        grid-column: 8/11;
        grid-row: 7/9;
    }
    
    .pizza_kep{
        width: 97%;
        height: 18rem;
    }
    .marhapecsenye{
        width: 14rem;
        height: 22rem;
    }
    .undorito_kep{
        width: 95%;
        height: 12rem;
    }
    .pizza2_kep{
       width: 95%;
       height: 12rem;
    }
    .leves_kep{
        width: 14rem;
        height: 12rem;
    }    

}
@media only screen and (max-width: 800px){
    .grid-container{    
        grid-gap: 1.5rem 1.3rem;
    }

    .pizza_kep{
        width: 97%;
        height: 18rem;
    }
    .marhapecsenye{
        width: 13rem;
        height: 21rem;
    }
    .undorito_kep{
        width: 95%;
        height: 12rem;
    }
    .pizza2_kep{
       width: 95%;
       height: 12rem;
    }
    .leves_kep{
        width: 13rem;
        height: 11rem;
    }   
}
@media only screen and (max-width: 768px){
    .box2 ul{
        display: flex;
        flex-direction: column;
    }
    .box2 li{
        padding: 14px 80px;
        margin-bottom: 1rem;
    }
    .grid-container{    
        grid-gap: 1.5rem 1.3rem;
    }
    .item1{
        grid-column: 2/8;
        grid-row: 1/5;
     }
     .item2{
         grid-column: 8/11;
        grid-row: 1/6;
     }
     .item3{
         grid-column: 2/5;
        grid-row: 8/6;}
     .item4{
         grid-column: 5/8;
         grid-row: 6/8;
     }
     .item5{
         grid-column: 8/11;
         grid-row: 7/9;
     }
   
    .pizza_kep{
        width: 100%;
        height: 100%;
    }
    .marhapecsenye{
        width: 100%;
        height: 100%;
    }
    .undorito_kep{
        width: 100%;
        height: 100%;
    }
    .pizza2_kep{
        width: 100%;
        height: 100%;
    }
    .leves_kep{
        width: 100%;
        height: 100%;
    }   
    .box4_szakasz2{
        padding: 0;
    }
}
@media only screen and (max-width: 718px){
    .box2 ul{
        display: flex;
        flex-direction: column;
    }
    .box2 li{
        padding: 14px 80px;
        margin-bottom: 1rem;
    }
    .grid-container{    
        grid-gap: 1rem 1rem;
    }
    .item1{
        grid-column: 2/8;
        grid-row: 1/5;
     }
     .item2{
         grid-column: 8/11;
        grid-row: 1/6;
     }
     .item3{
         grid-column: 2/5;
        grid-row: 5/9;}
     .item4{
         grid-column: 5/8;
         grid-row: 5/9
     }
     .item5{
         grid-column: 8/11;
         grid-row: 6/9;
     }
   
    .pizza_kep{
        width: 100%;
        height: 100%;
    }
    .marhapecsenye{
        width: 100%;
        height: 100%;
    }
    .undorito_kep{
        width: 100%;
        height: 100%;
    }
    .pizza2_kep{
        width: 100%;
        height: 100%;
    }
    .leves_kep{
        width: 100%;
        height: 100%;
    }   
    .box4_szakasz2{
        padding: 0;
    }
    .box4_szakasz2 h5{

    }
}
@media only screen and (max-width: 762px){
    .box2 ul{
        display: flex;
        flex-direction: column;
    }
    .box2 li{
        padding: 14px 80px;
        margin-bottom: 1rem;
    }
    .grid-container{    
        grid-gap: 1rem 1rem;
    }
    .item1{
        grid-column: 2/8;
        grid-row: 1/5;
     }
     .item2{
         grid-column: 8/11;
        grid-row: 1/6;
     }
     .item3{
         grid-column: 2/5;
        grid-row: 5/9;}
     .item4{
         grid-column: 5/8;
         grid-row: 5/9
     }
     .item5{
         grid-column: 8/11;
         grid-row: 6/9;
     }
   
    .pizza_kep{
        width: 100%;
        height: 100%;
    }
    .marhapecsenye{
        width: 100%;
        height: 100%;
    }
    .undorito_kep{
        width: 100%;
        height: 100%;
    }
    .pizza2_kep{
        width: 100%;
        height: 100%;
    }
    .leves_kep{
        width: 100%;
        height: 100%;
    }   
    .box4_szakasz2{
        padding: 0;
    }
    .box4_szakasz2 h5{

    }
}
@media only screen and (max-width: 576px)
{
    .box3{
        padding: 25px;
    }
    #box1{
        padding: 1rem 0rem;
        border: 0;
    }
    #box2 ul {
        flex-direction: column;
    }
    #box2{
        border: 0;
    }
    #box3{
        border: 0
        ;
    }
    #box4{
        padding-left: 0px;
    }
    #box4_h4{
        padding-right: 0px 0px;
    }
    .grid-container{    
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(32, 5vw);
        grid-gap: 2rem 0.5rem;
    }
    .item1{
        grid-column: 1/11;
        grid-row: 1/6;
     }
     .item2{
         grid-column: 1/11;
        grid-row: 15/26;
     }
     .item3{
         grid-column: 1/11;
        grid-row: 6/10;
    }
     .item4{
         grid-column: 1/11;
         grid-row: 10/15;
     }
     .item5{
         grid-column: 1/11;
         grid-row: 26/32;
     }
   
    .pizza_kep{
        width: 100%;
        height: 100%;
    }
    .marhapecsenye{
        width: 100%;
        height: 100%;
        
    }
    .undorito_kep{
        width: 100%;
        height: 100%;
        
    }
    .pizza2_kep{
        width: 100%;
        height: 100%;
    }
    .leves_kep{
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width: 450px)
{

    .box2{
        padding: 0;
    }
    .box1_h5{
       width: 15rem;
        padding: 0;
    }
    .box1{
        padding: 0;
    }

    .box3{
        padding: 25px;
    }
    #box1{
        padding: 1rem;
    }
    .box2 ul {
        flex-direction: column;
        padding-right: 35px;
        
    }
    .box2_szoveg{
        padding: 15px;
        text-align: center;
    }
    #box4{
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
    }
    #box4_h4{
        padding-right: 0px 0px;
    }
    .grid-container{    
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(32, 5vw);
        grid-gap: 2rem 0.5rem;
    }
    .item1{
        grid-column: 1/11;
        grid-row: 1/5;
     }
     .item2{
         grid-column: 1/11;
        grid-row: 15/25;
     }
     .item3{
         grid-column: 1/11;
        grid-row: 5/10;
    }
     .item4{
         grid-column: 1/11;
         grid-row: 10/15;
     }
     .item5{
         grid-column: 1/11;
         grid-row: 25/32;
     }
   
    .pizza_kep{
        width: 100%;
        height: 100%;
    }
    .marhapecsenye{
        width: 100%;
        height: 100%;
        
    }
    .undorito_kep{
        width: 100%;
        height: 100%;
        
    }
    .pizza2_kep{
        width: 100%;
        height: 100%;
    }
    .leves_kep{
        width: 100%;
        height: 100%;
    }
}